# Executables & Binaries
*.exe
*.out
*.app
bin/
build/

# Object Files & Libraries
*.o
*.obj
*.a
*.so
*.dylib

# Debug Information
*.dSYM/
*.su
*.idb
*.pdb

# Editor & OS Files
.vscode/
.DS_Store
Thumbs.db

# Dynamic Data/Input Files
*.txt
*.dat
*.log